__pycache__/
*.py[cod]
*.egg-info/
.venv/
build/
dist/
.coverage
.ipynb_checkpoints/
.pytest_cache/
.ruff_cache/
.vscode/

/data/*
!/data/README.md
!/data/preprocessing/
!/data/preprocessing/**
!/data/splits/
!/data/splits/**
/logs/
/outputs/
/results/
/third_party/

*.ckpt
*.pth
*.pth.tar
*.pt
*.safetensors
*.tar
*.tar.gz
*.tar.zst
*.zip

*.log
*.mp4
*.avi
*.mov
